.wrapper-hero-form{
    background-image: url('../../img/dragon-age-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    padding-top:40px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.form-container {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin:auto;
}
form{
    display: flex;
    flex-direction: column;
    gap:5px;
    width:100%;
}
h1 {
    text-align: center;
    margin: 25px 0;
    font-family: "Eagle Lake", serif;
    font-weight: normal;
    color:white;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
button,
textarea {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 2px solid crimson;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: rgba(0,0,0,.8);
    color:white;
}
select{
    padding: 0.8rem;
    border: 2px solid lightgray;
    margin:0px 10px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    // width: 100%;
    padding: 0.8rem;
    background-color:crimson;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #b30000;
}

.wrapper-hero-box{
    margin-top:60px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
}
.hero-box{
    padding: 0.8rem;
    border: 2px solid crimson;
    border-radius: 0.5rem;
}

.wrapper-combat-box{
    width:800px;
    
}
.combat-selectors{
    display: flex;
    justify-content: space-between;
}
.btn-attack{
    width:100%;
    margin-top:23px; 
}
.btn-potion{
    width:100%;
}

h3{
    font-family: "Eagle Lake", serif;
    text-transform: uppercase;
}
.life{
    width:100%;
    border-radius:10px;
    border:2px solid #333;
    height:15px;
    margin-top:5px;
    overflow:hidden
}
.life div{
    height:100%;
    background:linear-gradient(145deg, #880723, #f8005f);
    border-radius:10px 0 0 10px;
    transition:width .3s ease-in-out
}